.display-page {
    h1 {
        font-weight: 600;
        font-size: 5em;
        color: $blue;
    }

    h3.title {
        font-size: 3em;
        color: #424242;
        font-weight: 600;
        padding: 40px 0 50px;
    }

    .small-header{
        font-weight: 600;
        font-size: 2em;
        color: #BDBDBD;
        text-align: right;
        margin-top: -29px;
    }

    .checkbox {
        &:checked + label {
            &:hover {
                &:before {
                    color: #4CAF50;
                }

                color: #4CAF50;
            }

            &:before {
                color: #4CAF50;
            }

            color: #4CAF50;
        }
        & + label {
            &:hover {
                &:before {
                    color: #BDBDBD;
                }

                color: #0277BD;
            }

            &:before {
                content: "\2713";
                color: #EEEEEE;
                font-size: 2em;
                display: inline-block;
                vertical-align: -5px;
            }

            font-weight: 600;
            font-size: 1.6em;
            color: $lightblue;
            text-align: center;
            display: inline-block;
            cursor: pointer;
        }

        display: none;
    }

    .btn {
        display: block;
        max-width: 200px;
        width: 100%;
        margin: 40px auto 0;
        padding: 9px 0;
        background: #2196F3;
        font-weight: 600;
        font-size: 1.2em;
        color: white;
    }

    .joinNotice {
        .title {
            .gamecode {
                color: white;
                background: #F44336;
                vertical-align: center;
                display: inline-block;
                padding: 8px 10px;
                margin: 0 0 0 10px;
            }

            padding: 10px 0 15px;
            font-size: 3em;
        }

        .content {
            .everybody {
                color: white;
                background: #212121;
                vertical-align: center;
                display: inline-block;
                padding: 8px 10px;
                margin: 0 5px;
                display: inline-block;
            }

            p {
                margin-bottom: 15px;
            }

            font-size: 2em;
        }

        padding: 30px 0;
        text-align: center;
        color: #424242;
        font-weight: 600;
    }

    .playerColor {
        .active {
            &:nth-child(1) .playerLobbyItem {
                color: #64B5F6;
                border-color: #64B5F6;
                background: #BBDEFB;
            }

            &:nth-child(2) .playerLobbyItem {
                color: #9575CD;
                border-color: #9575CD;
                background: #D1C4E9;
            }

            &:nth-child(3) .playerLobbyItem {
                color: #81C784;
                border-color: #81C784;
                background: #C8E6C9;
            }

            &:nth-child(4) .playerLobbyItem {
                color: #A1887F;
                border-color: #A1887F;
                background: #D7CCC8;
            }

            &:nth-child(5) .playerLobbyItem {
                color: #F06292;
                border-color: #F06292;
                background: #F8BBD0;
            }

            &:nth-child(6) .playerLobbyItem {
                color: #FFB74D;
                border-color: #FFB74D;
                background: #FFE0B2;
            }

            &:nth-child(7) .playerLobbyItem {
                color: #90A4AE;
                border-color: #90A4AE;
                background: #CFD8DC;
            }

            &:nth-child(8) .playerLobbyItem {
                color: #7986CB;
                border-color: #7986CB;
                background: #C5CAE9;
            }
        }

        .playerLobbyItem {
            color: #E0E0E0;
            background: #EEEEEE;
            border: 1px solid #E0E0E0;
        }
    }

    .playerLobby {
        .active {
            .playerLobbyItem {
                height: 40px;
                padding: 8px 0 6px;
            }

            font-size: 0.6em;
        }
    }

    .playerLobbyItem {
        display: block;
        text-align: center;
        font-size: 3em;
        margin: 0 0 15px;
        height: 40px;
    }

    padding: 30px 0 0;
}