@import "compass/reset";

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
}

html, body {
    height: 100%;
    background: url(/img/bg.png);
}

$lightblue: #03A9F4;
$blue: #2196f3;

@import "index";
@import "gamepad";
@import "display";