<!DOCTYPE html>
<html>
<head>
	<% include ../partials/meta %>
	<title>Subtle Pineapple - Index</title>
	<% include ../partials/stylesheets %>
</head>
<body>
	HELLO WORLD
	<% include ../partials/scripts %>
    <script type="text/jsx" src="/js/display.jsx"></script>
    <script src="/js/display.js"></script>
</body>
</html>