<!DOCTYPE html>
<html>
<head>
	<% include ../partials/meta %>
	<title>Subtle Pineapple - Index</title>
	<% include ../partials/stylesheets %>
</head>
<body>
	HELLO WORLD
	<% include ../partials/scripts %>
</body>
</html>