<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title>Subtle Scheme - Index</title>
    <% include ../partials/stylesheets %>
</head>
<body>
    <div class="display-page">
        <div class="toggleSound">
            <span class="glyphicon glyphicon-volume-up"></span>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Subtle Scheme</h1>
                    <div id="display">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/scripts %>
    <script type="text/jsx" src="/js/display.jsx"></script>
</body>
</html>