<!DOCTYPE html>
<html>
<head>
	<% include ../partials/meta %>
	<title>Subtle Pineapple - Game Pad</title>
	<% include ../partials/stylesheets %>
</head>
<body>
    <div class="gamepad-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Subtle Pineapple</h1>
                    <div id="gamepad">
                    </div>
                </div>
            </div>
        </div>
    </div>
	<% include ../partials/scripts %>
    <script type="text/jsx" src="/js/display.jsx"></script>
</body>
</html>
