<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title>Subtle Scheme - Index</title>
    <% include ../partials/stylesheets %>
</head>
<body>
    <div class="index-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Subtle Scheme</h1>
                    <a href="/display" class="btn">Create Room</a>
                    <a href="/gamepad" class="btn">Join Room</a>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/scripts %>
</body>
</html>